<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{$A_page}</title>
		<!-- Compiled and minified CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

	  	<link rel="stylesheet" href="../css/style.css" />

		<!-- Compiled and minified JavaScript -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
    <body>
        <div id="bandeau">
            <img src="image/Logo2.PNG" id="image">
        </div>
        <a href="deconnection.php" id="deco" class="waves-effect waves-teal btn-flat right"><i class="material-icons">power_settings_new</i></a>
        <nav class="yellow accent-4">
            <div class="nav-content brand-logo center">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a href="index_param.php">{$AA_par}</a></li>
                    <li class="tab"><a class="active" href="index_admin.php">{$AA_liste}</a></li>
                    <li class="tab"><a href="index_archive.php">{$AA_arch}</a></li> 
                    <li class="tab"><a href="index_monnayeur.php">{$AA_monna}</a></li>
                </ul>
            </div>
        </nav>
        <div ng-app="FireCart" ng-controller="AuthController">
            <div class="row center">
                <div class="col s12 m10 offset-m1 l6 offset-l3">
                    <div class="card sticky-action z-depth-4 card-panel hoverable">
                        <form method="POST">
                            <div class="card-content">
                                <div class="row center-align">
                                    <span class="card-title grey-text text-darken-4 center-align">{$S_Distributeur}</span>
                                    <div class="input-field col s12">
                                        <input type="text" ng-model="dummyInputs.inputFieldInput" placeholder="Nom" name="nom_distri" required>
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" ng-model="dummyInputs.inputFieldInput" placeholder="Localisation" name="localisation" required>
                                    </div>
                                    <div class="input-field col s6">
                                        <input type="text" ng-model="dummyInputs.inputFieldInput" placeholder="Stock" name="stock" required>
                                    </div>
                                    <div class="input-field col s6">
                                        <input type="text" ng-model="dummyInputs.inputFieldInput" placeholder="Etat" name="etat" required>
                                    </div>
                                </div>
                                <input type="submit" class="waves-effect waves-light btn" value='Envoyer' name="submit2"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- bouton flottant -->	
		<div class="fixed-action-btn vertical">
			<a class="btn-floating btn-large red">
				<i class="large material-icons">mode_edit</i>
			</a>
			<ul>
				<li>
					<a href="popboulange.html" class="btn-floating bleue lighten-1" onClick="window.document.location.href='popboulange';">
						<i class="material-icons">account_circle</i>
					</a>
				</li>
				<li>
					<a href="popdistri.html" class="btn-floating bleue lighten-1" onClick="window.document.location.href='popdistri';">
						<i class="material-icons">bakery_dining</i>
					</a>
				</li>
			</ul>
		</div>	
        <footer class="page-footer" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="yellow-text">{$A_footertitle}</h5>     
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h6 class="yellow-text">{$A_projet}</h6>
                        <ul>
                            <li><p class="grey-text text-lighten-9">Romain / Florian / Anthony / Younes</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>