html{
    min-height: 100%;
    background-repeat: no-repeat; 
    background-image: linear-gradient(to right top, #f5dfb0 0%, #858d92 100%); 
    width: auto; 
    height: auto;
}

#image{
    margin: auto; 
    display: flex;
}

@media (max-width: 350px){
    #image {
        width: 100%;
    }
}

#logo_bag{
    display: flex;
    margin: auto;
}

#liste {
    height: auto; 
    margin:0px;
}

#bandeau{
    height: 76px; 
    background: #231600;
}

h4{
    position : block;
    font-weight: bold;
}

#footer{
    bottom: 0; 
    width: 100%; 
    position: absolute; 
    background-color: #241404;
    flex: flex;
}

#sh4{
    text-align: center; 
    font-weight: bold;
    margin-bottom: 30px;
}

#s2h4{
    text-align: center; 
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    display: block;
}

#adm{
    text-align: right;
    margin-top: 0px;
}

#s2{
    font-size: small;
}

#footer1{
    bottom: -1; 
    width: 100%; 
    position: absolute; 
    background-color: #241404;
    flex: flex;
}

body{
    font-family: 'Lora', serif;
}